input[type="text"] {
  background-color: black;
  color: lightskyblue;
  border-radius: 4px;
  height: 40px;
  width: 300px;
  outline: none;
  position: relative;
  z-index: 5;
}
input:hover{
  box-shadow: 0 0 20px 0 rgba(100, 200, 255, 0.75);
}
button {
  height: 45px;
  outline: none;
  background-color: black;
  border-radius: 10px;
  position: relative;
  z-index: 5;
}


button:hover{
  box-shadow: 0 0 20px 0 rgba(100, 200, 255, 0.75);
}
