@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext");

input[type="text"] {
  background-color: black;
  color: lightskyblue;
  border-radius: 9px;
  height: 54px;
  width: 420px;
  outline: none;
  position: relative;
  z-index: 5;
  border: none;
  box-shadow: 0 0 20px 0 rgba(100, 200, 255, 0.75);
  margin-bottom: 2%;
  font-family: "Henny Penny", cursive;
  font-stretch: semi-expanded;
  letter-spacing: 2px;
  /* font-family: ; */

}
input:hover{
  box-shadow: 0 0 20px 0 rgba(100, 400, 455, 75);
 
  /* box-shadow: 0 0 20px 0 rgba(100, 200, 255, 0.75); */
}
button {
  height: 54px;
  padding: 15px;
  outline: none;
  background-color: black;
  border-radius: 10px;
  position: relative;
  z-index: 5;
  font-size: 12px;
  border: none;
  box-shadow: 0 0 20px 0 rgba(100, 200, 255, 0.75);
}


button:hover{
  box-shadow: 0 0 20px 0 rgba(100, 400, 455, 75);
}
